@use '../globals/' as *;

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &__icon {
    width: 2rem;
    height: 2rem;
    border-radius: 0.375rem;
    overflow: hidden;
  }

  &__text {
    font-size: 1.85rem;
    font-weight: 500;
    color: $gray-700;
    text-transform: uppercase;

     & > span {
      color: $indigo-500;
    }
  }
}